<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Driver Vigilance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>BLE: {{BLEconnectionStatus}}</ion-card-subtitle>
        <ion-card-title>PSD</ion-card-title>
      </ion-card-header>
      <ion-card-content [hidden]='wincounter <= 6'>
        Drowsy : {{drowsinessFlag}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Timer: {{winTimer}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{eyeStatus[wincounter]}}</ion-card-subtitle>
        <ion-card-title>{{thetaBandPower}} -- {{alphaBandPower}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-button (click)="connectMuse()">ConnectMuse</ion-button>
    <ion-button (click)="disconnectMuse()">DisconnectMuse</ion-button>
    <ion-button (click)="startTimer()">Start Timer</ion-button>
    <ion-button (click)="stopTimer()">Stop Timer</ion-button>


  </div>
</ion-content>